.wrapper {
	max-width: 800px;
	margin: 0 auto;
	padding: 24px;
}

.card {
	padding: 16px;
}

.tags {
	margin-top: 12px;
	margin-bottom: 12px;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
}
